<div id="links-footer" class="container d-flex justify-content-between links-footer fixed-bottom">
  <%= link_to scan_beers_path, class: 'link-icons' do %>
    <%= image_tag "scanning-barcode.svg", alt: "Scan", width: 40 %>
  <% end %>

  <%#= link_to scan_beers_path, class: 'link-icons' do %>
    <%#= image_tag "loupe.svg", alt: "Scan", width: 40 %>
  <%# end %>

  <%= link_to breweries_path, class: 'link-icons' do  %>
    <%= image_tag "brewery.svg", alt: "Brewery", width: 40 %>
  <% end %>

  <%= link_to beers_path, class: 'link-icons' do %>
    <%= image_tag "beer_can_bottle.svg", alt: "Scan", width: 40 %>
  <% end %>
</div>
