<div class="container text-center d-flex flex-column align-items-center">
  <h1>All Beers</h1>

  <%= link_to scan_beers_path do %>
    <%= image_tag "scanning-barcode.svg", alt: "Scan", width: 35 %>
  <% end %>
  
  <div class="row">
    <%# @beers.order(id: :asc).each do |beer| %>
    <% @beers.order_by_name.each do |beer| %>
      <div class="col-12">
        <div class="beer-card m-3 p-3">
          <h4><%= beer.name %></h4>
          <p class=""><%= beer.brewery.name %></p>
          <p class="small"><%= beer.category %></p>
          <% if beer.ibu %>
            <p class=""><%= image_tag "hop.svg", alt: "hop", width: 20 %>: <span><%= beer.ibu %></span></p>
          <% end %>

          <% if  current_user %>
            <% if beer.beer_tabs.empty? %>
              <%= link_to new_beer_beer_tab_path(beer) do  %>
                <%= image_tag "mug_full.svg", alt: "Full pint", width: 30 %>
              <% end %>
            <% else %>
              <% beer.beer_tabs.first(1).each do |beer_tab| %>
                <%#= image_tag "mug_empty.svg", alt: "Empty pint", width: 20 %>      
                <span><%= beer_tab.rating.zero? ? 'ðŸ’©' : 'â­ï¸' * beer_tab.rating %></span>
              <% end %>
            <% end %>
          <% end %>

          <%= link_to beer_path(beer) do  %>
            <% if beer.photo.attached? %>
              <div class="my-3"><%= cl_image_tag beer.photo.key, height: 150, crop: :thumb %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
