<div class="container text-center">
  <h1><%= @beer.name %></h1>
  <h2 class="brewery-name"><%= @beer.brewery.name %></h2>

  <div class="my-3">
    <% if  current_user %>
      <% if @beer_tab.nil? %>
        <%= link_to "Notez cette bière", new_beer_beer_tab_path(@beer) %>
      <% else %>
        <%= render 'beer_tab_modal', locals: { beer: @beer, beer_tab: @beer_tab } %>
      <% end %>
    <% end %>
  </div>

  <div class="my-3">
    <% if @beer.photo.attached? %>
      <%= cl_image_tag @beer.photo.key, alt: "Label", width: '150' %>
    <% end %>

    <div class="d-flex justify-content-around mt-2">
      <h5 class="my-0">Type: <%= @beer.category %></h5>
      <span><%= @beer.alc_percent %>%</span>
    </div>

    <p class="short-desc"><%= @beer.short_desc %></p>

    <p><%= @beer.long_desc %></p>
  </div>
</div>
