<div class="container text-center">
  <h1><%= @beer.name %></h1>

  <div class="my-3">
    <% if  current_user %>
      <% if @beer.beer_tabs.empty? %>
        <%= link_to new_beer_beer_tab_path(@beer) do  %>  
          <%= image_tag "mug_full.svg", alt: "Full pint", width: 30 %>
        <% end %>
      <% else %>
        <% @beer.beer_tabs.first(1).each do |beer_tab| %>
          <%#= image_tag "mug_empty.svg", alt: "Empty pint", width: 30 %> 
          <%= link_to 'Change the rating', edit_beer_beer_tab_path(@beer, beer_tab) %>
          <span><%= beer_tab.rating.zero? ? 'ðŸ’©' : 'â­ï¸' * beer_tab.rating %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="my-3">
    <% if @beer.photo.attached? %>
      <%= cl_image_tag @beer.photo.key, alt: "Label", width: '150' %>
    <% end %>

    <div class="d-flex justify-content-around">
      <p>Type: <%= @beer.category %></p>
      <span><%= @beer.alc_percent %>%</span>
    </div>

    <p class="short-desc"><%= @beer.short_desc %></p>

    <p><%= @beer.long_desc %></p>
  </div>

  <%= link_to scan_beers_path, class: 'link-icons' do %>
    <%= image_tag "scanning-barcode.svg", alt: "Scan", width: 55 %>
  <% end %>

  <%= link_to breweries_path, class: 'link-icons' do  %>
    <%= image_tag "brewery.svg", alt: "Brewery", width: 55 %>
  <% end %>
  
  <%= link_to beers_path, class: 'link-icons' do %>
    <%= image_tag "beer_can_bottle.svg", alt: "Scan", width: 55 %>
  <% end %>
</div>
